# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [9]:
import pandas as pd
import numpy as np

In [13]:
# Seu código aqui
nasa_series = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
nasa_series

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [14]:
# seu código aqui
nasa_series = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],[1900, 1920, 1940, 1960, 1980, 2000, 2020])
nasa_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [15]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
nasa_series_dic = pd.Series(dic_temperaturas)
nasa_series_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [21]:
array = np.random.normal(100, 10, (20,3))

# seu código aqui
array_df = pd.DataFrame(array)
array_df

             0           1           2
0    93.931031   96.103373  117.206435
1    79.806366   89.218515   95.273376
2   120.660659   97.167231  102.127465
3   103.237711  104.160226   99.877108
4   100.723711  120.220097  124.852696
5   108.989172   97.236871   82.357873
6    91.245264   94.488281   96.340220
7   102.474348  104.958100  113.070406
8   103.663105   98.356883  106.392233
9   108.767796  101.274625  109.736110
10  112.795450   86.158331  102.867442
11  101.153330  100.751626  103.137919
12  100.956381   96.363087   86.359115
13  103.120575  104.343821   88.326173
14  107.249843   97.261190   98.155185
15   93.491291  114.066180  109.856380
16   93.283122   95.962115   96.534205
17  121.925940  103.238505   85.799945
18  116.087140   94.172155  111.532598
19  104.287568  107.942826  116.310131

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [25]:
#seu código aqui
array_df = pd.DataFrame(array, index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 
                        columns = ['x1', 'x2', 'x3'])
array_df

            x1          x2          x3
1    93.931031   96.103373  117.206435
2    79.806366   89.218515   95.273376
3   120.660659   97.167231  102.127465
4   103.237711  104.160226   99.877108
5   100.723711  120.220097  124.852696
6   108.989172   97.236871   82.357873
7    91.245264   94.488281   96.340220
8   102.474348  104.958100  113.070406
9   103.663105   98.356883  106.392233
10  108.767796  101.274625  109.736110
11  112.795450   86.158331  102.867442
12  101.153330  100.751626  103.137919
13  100.956381   96.363087   86.359115
14  103.120575  104.343821   88.326173
15  107.249843   97.261190   98.155185
16   93.491291  114.066180  109.856380
17   93.283122   95.962115   96.534205
18  121.925940  103.238505   85.799945
19  116.087140   94.172155  111.532598
20  104.287568  107.942826  116.310131

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [51]:
# seu código aqui
array_df['media'] = (array_df['x1'] + array_df['x2'] + array_df['x3']) / 3
array_df

            x1          x2          x3   log_med       media
1    93.931031   96.103373  117.206435  4.629020  102.413613
2    79.806366   89.218515   95.273376  4.478466   88.099419
3   120.660659   97.167231  102.127465  4.669569  106.651785
4   103.237711  104.160226   99.877108  4.629131  102.425015
5   100.723711  120.220097  124.852696  4.747238  115.265501
6   108.989172   97.236871   82.357873  4.566374   96.194638
7    91.245264   94.488281   96.340220  4.543556   94.024589
8   102.474348  104.958100  113.070406  4.671279  106.834285
9   103.663105   98.356883  106.392233  4.632825  102.804074
10  108.767796  101.274625  109.736110  4.669016  106.592844
11  112.795450   86.158331  102.867442  4.611223  100.607074
12  101.153330  100.751626  103.137919  4.621840  101.680958
13  100.956381   96.363087   86.359115  4.549230   94.559528
14  103.120575  104.343821   88.326173  4.591039   98.596856
15  107.249843   97.261190   98.155185  4.614018  100.888739
16   93.491291  114.066180  109.856380  4.661594  105.804617
17   93.283122   95.962115   96.534205  4.556608   95.259814
18  121.925940  103.238505   85.799945  4.641066  103.654797
19  116.087140   94.172155  111.532598  4.675293  107.263964
20  104.287568  107.942826  116.310131  4.696048  109.513508

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [52]:
# seu código aqui
array_df['log_med'] = np.log(array_df['media'])
array_df

            x1          x2          x3   log_med       media
1    93.931031   96.103373  117.206435  4.629020  102.413613
2    79.806366   89.218515   95.273376  4.478466   88.099419
3   120.660659   97.167231  102.127465  4.669569  106.651785
4   103.237711  104.160226   99.877108  4.629131  102.425015
5   100.723711  120.220097  124.852696  4.747238  115.265501
6   108.989172   97.236871   82.357873  4.566374   96.194638
7    91.245264   94.488281   96.340220  4.543556   94.024589
8   102.474348  104.958100  113.070406  4.671279  106.834285
9   103.663105   98.356883  106.392233  4.632825  102.804074
10  108.767796  101.274625  109.736110  4.669016  106.592844
11  112.795450   86.158331  102.867442  4.611223  100.607074
12  101.153330  100.751626  103.137919  4.621840  101.680958
13  100.956381   96.363087   86.359115  4.549230   94.559528
14  103.120575  104.343821   88.326173  4.591039   98.596856
15  107.249843   97.261190   98.155185  4.614018  100.888739
16   93.491291  114.066180  109.856380  4.661594  105.804617
17   93.283122   95.962115   96.534205  4.556608   95.259814
18  121.925940  103.238505   85.799945  4.641066  103.654797
19  116.087140   94.172155  111.532598  4.675293  107.263964
20  104.287568  107.942826  116.310131  4.696048  109.513508